:root {
	//? Colors
	--current-color: currentColor;
	--main-color: #01996d;
	--main-background-color: #ffffff;
	--second-background-color: #245852;
	--main-text-color: #424242;
	--second-text-color: #000000;
	--third-text-color: #ffffff;
	--navigation-text-color: #292929;
	--button-text-color: #ffffff;
	--hero-border-color: #d6d6d6;
	--hero-background-color: #faf7ff;
	--hero-text-color: #484848;
	--story-background-color: #245852;
	--story-text-color: #ffffff;

	//? Borders
	--button-border: 1px;
	--hero-border: 1px;
	--double-border: 2px;
	--bold-border: 4px;

	//? Borders styles
	--button-border-style: solid;
	--hero-border-style: solid;

	//? Borders radius
	--button-border-radius: 4px;

	//? Fonts
	--main-font: "Lato", sans-serif;
	--header-font: "Georgia", sans-serif;

	//? Sizes
	--header-text-size: 20px;
}
