<form action="" class="form__register">
  <label>
    First name
    <input type="text" class="form__first-name" />
  </label>

  <label>
    Last name
    <input type="text" class="form__last-name" />
  </label>

  <label>
    E-mail
    <input type="e-mail" class="form__email" />
  </label>

  <label>
    Login
    <input type="text" class="form__login" />
  </label>

  <label>
    Password
    <input type="password" class="form__password" />
  </label>
</form>

<form action="" class="form__signin">
  <label>
    Login
    <input type="text" class="form__login" />
  </label>

  <label>
    Password
    <input type="password" class="form__password" />
  </label>
</form>
