<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__logo logo">
        <svg class="logo__icon" width="80" height="23">
          <use href="./images/svg/logo.svg#logo"></use>
          <!-- <use href="/images/svg/logo.svg#logo"></use> -->
        </svg>
      </div>

      <div class="header__menu" id="mobile" data-mobile>
        <nav class="navigation">
          <ul class="navigation__menu">
            <li class="navigation__item">
              <a href="" class="navigation__link">Why Alivio</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link">Solutions</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link">Community</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link">Pricing</a>
            </li>
          </ul>
        </nav>

        <ul class="register__menu">
          <li class="register__item">
            <a class="register__link sign-in" href="">Sign in</a>
          </li>
          <li class="register__item">
            <button class="register__button open-button buttons">
              Start Trial
            </button>
          </li>
        </ul>
      </div>

      <button
        class="menu__button"
        type="button"
        aria-expanded="false"
        aria-controls="mobile"
        data-menu-button
      >
        <svg
          width="25"
          height="25"
          class="menu__icon"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="icon__cross"
            href="/src/images/svg/mobile-menu.svg#cross"
          ></use>
          <use
            class="icon__menu"
            href="/src/images/svg/mobile-menu.svg#menu"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</header>
