<header class="header">
  <div class="container wrapper">
    <div class="logo header__logo">
      <img class="logo__img" src="/src/images/svg/Logo.svg" alt="logo" />
    </div>

    <nav class="navigation">
      <ul class="navigation__menu">
        <li class="navigation__item">
          <a href="" class="navigation__link">Why Alivio</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Solutions</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Community</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Pricing</a>
        </li>
      </ul>
    </nav>

    <ul class="register header__register">
      <li class="register__item">
        <a class="register__link" href="">Sign in</a>
      </li>
      <li class="register__item">
        <button class="register__button trial">Start Trial</button>
      </li>
    </ul>
  </div>
</header>
