<section class="product">
  <div class="container">
    <div class="product__content wrapper">
      <div class="product__photo">
        <img
          class="product__img"
          src="/src/images/product/product@1x.jpg"
          alt="Photo with woman"
        />
      </div>
      <div class="product__card"></div>

      <div class="product__about">
        <h2 class="product__title">Our product</h2>
        <h3 class="product__subtitle">
          You tell us your stress, We make your diary
        </h3>
        <p class="product__text">
          Everyone experiences it, and in different ways. Let Alivio guide you,
          in a personalized journal experience, to overcome your stress.
        </p>
        <button class="product__button button">Find Your Way</button>
      </div>
    </div>
  </div>
</section>
