<section class="product">
  <div class="container">
    <div class="product__content">
      <div class="product__photo">
        <img
          class="product__img"
          src="/src/images/product/product@1x.jpg"
          alt="Photo with woman"
        />

        <div class="product__example example">
          <p class="example__tittle">Customized For</p>
          <div class="example__underline"></div>
          <img
            class="example__img"
            src="/src/images/product/product-card@1x.jpg"
            alt=""
          />
          <p class="example__name">Mikayla</p>
          <h3 class="example__subtitle">Your custom contents</h3>
          <ul class="example__list">
            <li class="list__item">Understand Your Stress</li>
            <li class="list__item">Anger Managemen</li>
          </ul>
        </div>
      </div>

      <div class="product__about">
        <h2 class="product__title">Our product</h2>
        <h3 class="product__subtitle titles">
          You tell us your stress, We make your diary
        </h3>
        <p class="product__text text">
          Everyone experiences it, and in different ways. Let Alivio guide you,
          in a personalized journal experience, to overcome your stress.
        </p>
        <button class="product__button buttons">Find Your Way</button>
      </div>
    </div>
  </div>
</section>
