<section class="steps">
  <div class="steps__content">
    <h2 class="steps__header">How it works</h2>
    <div class="steps__intro">
      <h3 class="intro__header">Understand & Release the stress in 3 steps</h3>
      <p class="intro__text">
        Alivio offers as many journals it takes, tackling different areas such
        as anxiety, overwhelmedness, sadness, or anger, and a variety of
        personal causes, to help you become aware of your emotions, and guide
        you in how to manage stress.
      </p>
    </div>
  </div>
</section>
