<section class="steps">
  <div class="container">
    <div class="steps__content">
      <h2 class="steps__title">How it works</h2>
      <div class="steps__about">
        <h3 class="about__title titles">
          Understand & Release the stress in 3 steps
        </h3>
        <p class="about__text text">
          Alivio offers as many journals it takes, tackling different areas such
          as anxiety, overwhelmedness, sadness, or anger, and a variety of
          personal causes, to help you become aware of your emotions, and guide
          you in how to manage stress.
        </p>
      </div>

      <ul class="steps__advantage">
        <li class="advantage__card first__card">
          <p class="card__number">
            01
            <span class="card__title first-title">Personalize</span>
          </p>
          <p class="card__text text">
            Answer a quick survey about how you express yourself, what causes
            you stress, and what area would you like to work on. This way, we
            can fully personalize your journal!
          </p>
          <!-- <div> -->
            <img
              class="card__img"
              src="/src/images/steps/step1 30@1x.jpg"
              alt=""
            />
          </div>
        </li>

        <li class="advantage__card second__card">
          <p class="card__number">
            02
            <span class="card__title second-title">Write & Understand</span>
          </p>
          <p class="card__text text">
            Write, draw, reflect, understand. Alivio will guide you through the
            prompts and will help you manage your stress!
          </p>
          <div>
            <img
              class="card__img"
              src="/src/images/steps/step2 30@1x.jpg"
              alt=""
            />
          </div>
        </li>

        <li class="advantage__card third__card">
          <p class="card__number">
            03
            <span class="card__title third-title">Alivio!</span>
          </p>
          <p class="card__text text">
            Now you are aware, and have a way to manage and overcome your own
            stress. What are you waiting for? Alivio today!
          </p>
          <div>
            <img
              class="card__img"
              src="/src/images/steps/step3 30@1x.jpg"
              alt=""
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
