.container {
	height: 100%;
	margin: 0 auto;
	border: 2px dotted;
	// max-width: 320px;

	@include mobile {
		margin: 0 auto;
		width: 480px;
	}

	@include tablet {
		margin: 0 auto;
		width: 768px;
	}

	@include desktop {
		margin: 0 auto;
		width: 1400px;
	}
}
