.footer {
	width: 1920px;
	margin: 0 auto;
	background-color: var(--story-background-color);
}
.fotter__content {
	padding-top: 95px;
	padding-bottom: 144px;
}

.footer__logo {
	color: var(--third-text-color);
}

.footer__menu {
	font-size: 25px;
	line-height: 30px;
	color: var(--story-text-color);
}

.footer__item {
	padding-top: 60px;
}
