.header {
	display: flex;
	align-items: center;
	height: 85px;
	font-family: var(--main-font);
	font-weight: 500;
	margin: 0 auto;
}

.logo {
	width: 80px;
	height: 23px;
}

.header__logo {
	margin-right: 170px;
}

.navigation {
	width: 557px;
}

.navigation__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__link {
	color: var(--navigation-text-color);
	font-size: var(--header-text-size);
}

.register {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.register__item {
	font-size: var(--header-text-size);
}

.register__link {
	color: var(--second-text-color);
}

.header__register {
	margin-left: auto;
}

.register__button {
	width: 180px;
	height: 50px;
	padding: 13px 45px;
	margin-left: 35px;
}
