.product {
	padding-top: 120px;
	padding-bottom: 170px;
	background-color: rosybrown;
}

.product__content {
	width: 1300px;
	height: 900px;
	background-color: aquamarine;
}

.product__photo {
	position: relative;
}

.product__img {
	width: 638px;
	height: 573px;
	border-radius: 18px;
}
