.steps {
	margin: 0;

	@include desktop {
		padding-top: 170px;
		padding-bottom: 50px;
	}
}

.steps__content {
	padding: 20px;

	@include desktop {
		padding: 0px;
	}
}

.steps__title {
	margin-bottom: 1 0px;
	font-size: 24px;
	line-height: 1.57;
	font-weight: 600;

	// @include desktop {
	// 	font-size: 24px;
	// 	line-height: 1.57;
	// 	font-weight: 600;
	// }
}
.steps__about {
	@include desktop {
		display: flex;
		align-items: center;
		margin: 0 auto;
		justify-content: space-between;
	}
}

.about__title {
	// padding: 40px;
	font-size: 40px;
	margin-bottom: 20px;

	@include desktop {
		max-width: 584px;
		font-size: 50px;
		line-height: 1.57;
	}
}
.about__text {
	// margin-bottom: 20px;
	line-height: 1.5;
	color: var(--main-text-color);

	@include desktop {
		padding-right: 30px;
		max-width: 670px;
	}
}

//? Advantage

.steps__advantage {
	@include desktop {
		display: flex;
		justify-content: space-between;
	}
}
.advantage__card {
	@include desktop {
		width: 390px;
	}
}

.first__card {
	@include desktop {
		margin-top: 75px;
	}
}

.second__card {
	@include desktop {
		margin-top: 300px;
	}
}

.third__card {
	@include desktop {
		margin-top: 125px;
	}
}

.card__number {
	position: relative;
	color: rgba(1, 153, 109, 0.2);
	font-family: var(--header-font);
	font-weight: 400;
	font-size: 100px;
	text-align: left;

	@include desktop {
		margin-bottom: 30px;
		font-size: 150px;
	}
}

.card__title {
	color: var(--second-text-color);
	position: absolute;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	top: 64px;

	@include desktop {
		font-weight: 700;
		font-size: 30px;
		line-height: 1.5;
		top: 97px;
	}
}

.first-title {
	left: 58px;
	@include desktop {
		left: 89px;
	}
}

.second-title {
	left: 58px;
	@include desktop {
		left: 77px;
	}
}

.third-title {
	left: 58px;
	@include desktop {
		left: 124px;
	}
}

.card__text {
	margin-bottom: 15px;
	color: var(--main-text-color);
	line-height: 1.5;

	@include desktop {
		margin-bottom: 0px;
	}
}

.card__img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border-radius: 12px;

	@include tablet {
		max-width: 760px;
	}

	@include desktop {
		margin-top: 40px;
	}
}
