.steps {
	margin: 170px 232px 50px 275px;
}

// .steps__content {
// 	margin: 0 auto;
// }
.steps__title {
	font-size: 24px;
	line-height: 1.57;
	font-weight: 600;
}
.steps__about {
	justify-content: space-between;
}
.about__title {
	width: 584px;
	font-size: 50px;
	line-height: 1.57;
}
.about__text {
	width: 670px;
	line-height: 1.5;
	padding-right: 30px;
	color: var(--main-text-color);
}

.steps__advantage {
	display: flex;
	justify-content: space-between;
}
.advantage__card {
	width: 390px;
}

.first__card {
	margin-top: 75px;
}

.second__card {
	margin-top: 300px;
}

.third__card {
	margin-top: 125px;
}

.card__number {
	position: relative;
	margin-bottom: 30px;
	font-family: var(--header-font);
	font-weight: 400;
	font-size: 150px;
	text-align: left;

	color: rgba(1, 153, 109, 0.2);
}

.card__title {
	position: absolute;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.5;
	top: 97px;
	color: var(--second-text-color);
}

.first-title {
	left: 89px;
}

.second-title {
	left: 77px;
}

.third-title {
	left: 124px;
}

.card__text {
	color: var(--main-text-color);
	line-height: 1.5;
}

.card__img {
	border-radius: 12px;
	margin-top: 40px;
}
