.story {
	background-color: var(--story-background-color);
	margin: 0 auto;
	@include desktop {
		max-width: 1920px;
		padding-top: 230px;
		padding-bottom: 177px;
	}
}

.story__content {
	padding: 20px;

	// @include tablet {
	// 	display: flex;
	// 	align-items: center;
	// 	// height: 248px;
	// 	gap: 20px;
	// }

	@include desktop {
		display: flex;
		align-items: center;
		height: 516px;
		gap: 30px;
	}
}

.story__about {
	color: var(--story-text-color);

	// @include tablet {
	// 	width: 30%;
	// }

	@include desktop {
		width: 580px;
		height: 352px;
	}
}

.story__title {
	color: var(--main-color);
	font-family: var(--header-font);
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	font-size: 24px;
	margin-bottom: 10px;

	@include desktop {
		color: var(--third-text-color);
		margin-bottom: 33px;
		font-size: 50px;
		line-height: 1.57;
	}
}

.story__text {
	color: black;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 10px;

	@include desktop {
		color: white;
		margin-bottom: 57px;
		font-weight: 600;
		font-size: 25px;
		line-height: 1.57;
	}
}

.story__button {
	width: 100%;
	height: 45px;
	margin-bottom: 10px;

	// @include tablet {
	// 	width: 240px;
	// 	height: 65px;
	// 	padding: 20px 45px;
	// 	font-size: 20px;
	// }

	@include desktop {
		width: 240px;
		height: 65px;
		padding: 20px 45px;
		font-size: 20px;
	}
}

.story__media {
	width: 280px;
	height: 160px;
	border-radius: 16px;
	background-image: url(/src/images/story/video@1x.jpg);

	@include mobile {
		width: 440px;
		height: 252px;
	}

	@include tablet {
		// min-width: 100vw;
		// min-height: 418px;
		width: 728px;
		height: 418px;
	}

	@include desktop {
		width: 895px;
		height: 516px;
	}
}

// .story__player {
// 	min-width: 280px;
// 	min-height: 160px;
// 	max-width: 895px;
// 	max-height: 516px;
// }
