.story {
	margin: 0 auto;
	background-color: var(--story-background-color);

	@include desktop {
		max-width: 1920px;
		padding-top: 230px;
		padding-bottom: 177px;
	}

	background-color: var(--story-background-color);
}

.story__content {
	@include desktop {
		display: flex;
		align-items: center;
		height: 516px;
		gap: 30px;
	}
}

.story__about {
	color: var(--story-text-color);

	@include desktop {
		width: 580px;
		height: 352px;
	}
}

.story__title {
	@include desktop {
		margin-bottom: 33px;
		font-size: 50px;
		font-family: var(--header-font);
		font-style: normal;
		font-weight: 700;
		line-height: 1.57;
	}
}

.story__text {
	@include desktop {
		margin-bottom: 57px;
		font-weight: 600;
		font-size: 25px;
		line-height: 1.57;
	}
}

.story__button {
	@include desktop {
		width: 240px;
		height: 65px;
		padding: 20px 45px;
		font-size: 20px;
	}
}

.story__media {
	max-width: 480px;
	max-height: 275px;
	border-radius: 16px;
	background-color: black;

	@include desktop {
		width: 895px;
		height: 516px;
	}
}
